{:kotoba.app/id "cloud.itonami.isic-6612", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihqstnfhr5pgbsqkd5nbergnxik6g46zeqswokkp5a754rg76nmwu", :kotoba.app/embed-url "ipfs://bafkreihqstnfhr5pgbsqkd5nbergnxik6g46zeqswokkp5a754rg76nmwu", :published {:archive "https://kotobase.net/ipfs/bafkreihqstnfhr5pgbsqkd5nbergnxik6g46zeqswokkp5a754rg76nmwu", :size 78156, :put-status 201, :get-status 200, :at "2026-08-15T14:00:28.483Z"}}
